@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .film {
        grid-template-columns: repeat(2, 1fr);
    }

    .film__content {
        padding-top: 19px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .collections {
        grid-template-columns: repeat(3, 350px);
        padding-bottom: 30px;
        overflow: auto;
        scroll-snap-type: x mandatory;
    }

    .collections__card {
        scroll-snap-align: center;
    }

    .collections::-webkit-scrollbar {
        height: 15px;
    }

    .collections::-webkit-scrollbar-thumb {
        border-radius: 15px;
    }

    .series__card:nth-of-type(2) {
        grid-column: span 4;
        grid-row: span 1;
    }

    .series__card {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .nav__burger {
        display: block;
    }

    .nav__burger:focus ~ .menu {
        visibility: visible;
    }

    .nav__burger:not(:focus) ~ .menu .menu__link {
        transition: 75ms;
    }

    .nav__burger:not(:focus) ~ .menu .menu__link::after {
        transition: 0s;
    }

    .menu {
        position: absolute;
        right: 20px;
        top: 85px;
        background: rgba(1, 3, 5, 0.9);
        flex-direction: column;
        max-width: 200px;
        width: 100%;
        visibility: hidden;
    }

    .menu__link {
        padding: 20px;
        margin-left: 0;
        width: 100%;
    }

    .menu__link:hover {
        background: rgba(237, 142, 0, 0.1);
    }

    .menu__link::after {
        width: 2px;
        height: 0;
        bottom: 50%;
        left: 0;
    }

    .menu__link:hover::after {
        height: 100%;
        left: 0;
        width: 2px;
        bottom: 0;
    }

    .banner__title {
        font-size: 45px;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__desc {
        margin-top: 20px;
    }

    .footer__link {
        margin: 0 10px;
    }
}

@media (max-width: 540px) {
    .premier__img {
        width: 100%;
    }

    .banner__content {
        text-align: center;
    }

    .banner__desc {
        text-align: center;
    }

    .banner__buttons {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .banner__buttons .btn:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .film {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 41px;
    }

    .premier__desc {
        text-align: center;
    }

    .premier__content {
        text-align: center;
    }

    .collections {
        grid-template-columns: repeat(1, 1fr);
    }

    .series {
        grid-template-columns: repeat(1, 1fr);
    }

    .series__card {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }
}