@import url(fonts.css);

/* ROOT START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font_first: "Comfortaa";
    --font_second: "Montserrat";
    --font_third: "Roboto";
    --btn: #F18128; 
    --body: #040D1F;
    --text: #fff;
    --btn_color: #000;
    --header: rgba(1, 3, 5, 0.80);
    --link_hover: #ED8E00;
    --banner_desc: #C8C8C8;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--body);
    font-family: var(--font_first);
    color: var(--text);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--btn);
    border-radius: 3px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    background: var(--btn);
    max-width: 166px;
    width: 100%;
    display: inline-block;
    padding: 17px;
    text-align: center;
    color: var(--btn_color);
    border-radius: 5px;
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    font-family: var(--font_third);
    transition: 1s;
}

.btn:hover {
    background: var(--body);
    color: var(--text);
}

.text-limit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-limit:active {
    -webkit-line-clamp: unset;
}

.title {
    margin: 60px 0;
}

.title__link {
    color: var(--btn);
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 400;
    position: relative;
}

.title__link::after {
    content: '';
    height: 2px;
    position: absolute;
    width: 100%;
    background: var(--btn);
    bottom: 0;
    left: 0;
}
/* ROOT END */
/* ////////////////////////////////////////////////// */
/* ADS START */
.ads {
    background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    height: 80px;
}

.ads__icon {
    line-height: 40px;
    font-size: 52px;
    margin-right: 24px;
}

.ads__span {
    max-width: 166px;
    width: 100%;
}
/* ADS END */
/* ////////////////////////////////////////////////// */
/* HEADER START */
.header {
    position: sticky;
    top: 0;
    background: var(--header);
    backdrop-filter: blur(7.5px);
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
}

.logo__img {
    margin-right: 5px;
    width: 103px;
}

.menu {
    display: flex;
}

.menu__link {
    color: var(--text);
    font-size: 14px;
    padding: 42px 6px;
    display: inline-block;
    margin-left: 18px;
    transition: 1s;
    position: relative;
    font-family: var(--font_second);
}

.menu__link::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--link_hover);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 2px 2px 0 0;
    transition: 1s;
}

.menu__link:hover {
    color: var(--link_hover);
}

.menu__link:hover::after {
    width: 100%;
    left: 0;
}

.nav__burger {
    background: none;
    color: var(--text);
    border: none;
    font-size: 40px;
    padding: 20px;
    display: none;
}
/* HEADER END */
/* ////////////////////////////////////////////////// */
/* BANNER START */
.banner {
    min-height: 80vh;
    position: relative;
    display: flex;
}


.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner__content {
    position: relative;
    background: rgba(7, 15, 25, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
}

.banner__title {
    font-family: var(--font_second);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 22px;
}

.banner__desc {
    color: var(--banner_desc);
    font-family: var(--font_second);
    line-height: 24px;
    max-width: 570px;
    width: 100%;
    margin-bottom: 48px;
    text-align: justify;
    -webkit-line-clamp: 4;
}

.banner__buttons {
    display: flex;
}

.banner__buttons .btn:first-of-type {
    margin-right: 30px;
}
/* BANNER END */
/* ////////////////////////////////////////////////// */
/* FILM START */
.film__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.film__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: 1s;
}

.film__content {
    position: relative;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
    padding: 56px 15px 19px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.film__icon {
    line-height: 48px;
    font-size: 48px;
    margin-bottom: 13px;
    transition: 1s;
}

.film__time {
    font-size: 14px;
    line-height: 10px;
    font-family: var(--font_second);
    margin-bottom: 32px;
    border-radius: 9px;
    border: 1px solid #FFF;
    background: rgba(7, 15, 25, 0.20);
    padding: 8px 27px;
    transition: 1s;
}

.film__title {
    font-family: var(--font_second);
    font-size: 22px;
    margin-bottom: 13px;
    font-weight: 400;
    -webkit-line-clamp: 1;
}

.film__desc {
    line-height: 21px;
    font-size: 14px;
    font-family: var(--font_third);
    -webkit-line-clamp: 7;
}

.film {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 71px;
}
/* FILM END */
/* ////////////////////////////////////////////////// */
/* PREMIER START */
.premier {
    position: relative;
}

.premier__video {
    position: absolute;
    width: 60%;
    height: 100%;
    object-fit: cover;
    right: 0;
}

.premier__content {
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0.00) 100.72%);
    padding-top: 43px;
    padding-bottom: 80px;
}

.premier__title {
    margin-bottom: 50px;
}

.premier__desc {
    max-width: 558px;
    width: 100%;
    color: var(--btn_color);
    line-height: 27px;
    font-size: 18px;
    font-family: var(--font_third);
    text-align: justify;
    -webkit-line-clamp: 5;
    margin-bottom: 55px;
}
/* PREMIER END */
/* ////////////////////////////////////////////////// */
/* COLLECTIONS START */
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: 200px;
}

.collections__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.collections__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections__content {
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 16px;
    padding: 0 35px;
}

.collections__icon {
    line-height: 48px;
    font-size: 48px;
    transition: 1s;
}

.collections__title {
    font-size: 20px;
    -webkit-line-clamp: 1;
    text-align: center;
    transition: 1s;
}

.collections__content::before, .collections__content::after {
    content: '';
    background: url(../img/collections/line.png) no-repeat center;
    width: 20px;
    position: absolute;
    left: 7px;
    top: 7px;
    bottom: 7px;
    transition: 1s;
}

.collections__content::after {
    right: 7px;
    left: auto;
}
/* COLLECTIONS END */
/* ////////////////////////////////////////////////// */
/* SERIES START */
.series__card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    min-height: 190px;
}

.series__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.series__content {
    position: relative;
    background: linear-gradient(96deg, rgba(35, 35, 35, 0.80) 10.86%, rgba(11, 11, 11, 0.60) 110.86%);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.series {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    margin-bottom: 61px;
}

.series__card:nth-of-type(1) {
    grid-column: span 4;
    grid-row: span 2;
    height: 450px;
    margin-bottom: 10px;
}

.series__card:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.series__desc {
    margin: 30px 0 26px 0;
    line-height: 24px;
    -webkit-line-clamp: 4;
}

.series__title {
    font-size: 24px;
    -webkit-line-clamp: 1;
}

.series__icon {
    line-height: 48px;
    font-size: 48px;
    margin-bottom: 20px;
    transition: 1s;
}

.series__title_fz {
    font-size: 50px;
}
/* SERIES END */
/* ////////////////////////////////////////////////// */
/* FOOTER START */
.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.80);    
    padding: 24px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    margin-right: 50px;
}

.footer__desc {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
}
/* FOOTER END */
/* ////////////////////////////////////////////////// */